.wid-25{
    width: 25%;;
}
.wid-50{
    width: 50%;;
}
.wid-75{
    width: 75%;;
}
.arrange-left{
    float: left;
}
.comman-class{
	color: #D19C97;
    font-weight: 800;
    width: 70px;
    border: 1px solid #ddd;
    height: 40px;
    border-radius: 0px;
    background-color: #FFF;
    margin-right: 10px;
    padding: 10px;
}
.comman-class span{
    font-size: 16px;
    font-weight: 800;
}
.comman-class span i{
    padding-right: 10px;
    padding-left: 5px;
}
.next-row{
    clear:both;
}